/* width */
::-webkit-scrollbar {
     width: 2px;
     height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
     background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
     background: rgb(206, 207, 208);
}


::-moz-selection,
::selection {
     background: rgba(206, 207, 208, 0.22);
}

.is-enabled {
     background: rgba(206, 207, 208, 0.22);
}

.pointer {
     z-index: 0;
}

.pointer:hover {
     cursor: pointer;
}

#categories {
     display: flex;
     margin-top: -25px;
     margin-left: 50px;
     overflow-x: scroll;
     width: 88%;
     font-weight: bold;
}

#div_group {
     overflow-x: scroll;
     padding-top: 200px;
}

@media only screen and (min-width: 641px) and (max-width: 800px) {
     #div_group {
          padding-top: 250px;
     }
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
     #div_group {
          padding-top: 275px;
     }
}

@media only screen and (max-width: 480px) {
     #div_group {
          padding-top: 300px;
     }
}

#main {
     text-align: left;
     margin-left: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');

body {
     font-family: "Zen Maru Gothic", serif;
     overscroll-behavior: none;
     background-color: #262626;
     background-size: cover;
     background-position: center right;
     background-repeat: no-repeat;
     background-attachment: fixed;
     color: rgb(206, 207, 208);
     font-weight: normal;
     margin: 0;
     align-items: center;
     justify-content: center;
}

.main {
     border-collapse: collapse;
     border-spacing: 0;
     display: block;
     width: auto;
     overflow: auto;
     overflow-x: scroll;
     word-break: normal;
     word-break: keep-all;
     -webkit-overflow-scrolling: touch;
}

.unselectable {
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     margin-left: -25px;
}

.title {
     max-width: fit-content;
     padding: 5px 20px 5px 20px;
     border: solid #cecfd0 2px;
     border-radius: 15px;
}

.title:hover {
     background: rgba(206, 207, 208, 0.11);
}

.row {
     font-size: 0;
}

.column {
     display: inline-block;
     width: 400px;
     margin-right: 100px;
     margin-bottom: 20px;
     margin-top: 20px;
     vertical-align: middle;
}

@media only screen and (max-width: 800px) {
     .column {
          margin-right: 0px;
     }
}

.nav {
     position: fixed;
     top: 0px;
     z-index: 1;
     backdrop-filter: blur(2px);
     background: rgba(38, 38, 38, 0.5);
     margin-left: -75px;
     box-shadow: 0px 0px 50px rgba(38, 38, 38, 0.5);
     width: 100%;
}


.name {
     font-size: 45px;
     margin-bottom: -25px;
}

.furigana {
     font-size: 30px;
     margin-bottom: -27.5px;
}

.romanji {
     font-size: 30px;
     margin-left: 4px;
}

.meaning {
     font-size: 25px;
     padding-bottom: 20px;
}

.meanings {
     font-size: 25px;
     padding-bottom: 20px;
}

.example {
     font-size: 25px;
     padding-bottom: 20px;
}

.one {
     margin-left: 1px;
}

#title {
     display: none;
     margin-left: 75px;
}

.categories {
     font-size: 25px;
     margin-left: 25px;
     white-space: nowrap;
}

#top {
     position: fixed;
     bottom: 20px;
     right: 20px;
     z-index: 99;
     border: none;
     outline: none;
     backdrop-filter: blur(10px);
     border: 2px solid #cecfd0;
     background: transparent;
     color: #cecfd0;
     cursor: pointer;
     padding: 15px;
     border-radius: 10px;
     font-size: 18px;
     width: 50px;
     height: 50px;
}

#top:hover {
     backdrop-filter: blur(10px);
     background: rgba(206, 207, 208, 0.22);
}

#toptext {
     display: none;
}

#top:hover+#toptext {
     display: block;
     position: fixed;
     bottom: 75px;
     right: 5px;
     z-index: 99;
     border: none;
     outline: none;
     text-align: center;
     backdrop-filter: blur(10px);
     border: 2px solid #cecfd0;
     background: #cecfd0;
     color: black;
     cursor: pointer;
     padding: 15px;
     border-radius: 10px;
     font-size: 10px;
     width: 50px;
     height: 30px;
}